[submodule "src/triangle-rasterizer"]
	path = src/triangle-rasterizer
	url = https://github.com/frmr/triangle-rasterizer
[submodule "src/tf"]
	path = src/tf
	url = https://github.com/frmr/tf
[submodule "src/sdl"]
	path = src/sdl
	url = https://github.com/frmr/SDL
